*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.sec1{
    
    background: url(/images/جميع_دول_العالم_وعواصمها\ \(1\).webp) no-repeat;
    background-size: cover; 
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sec1 .div1{
    padding: 20px;
    width: 500px;
    min-height: 150px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.sec1 .div1 h1{
    color: #fff;
    font-size: 50px;
}
.sec1 .div1 p{
    color: #fff;
    font-size: 15px;
    width: 500px;
}
.search{
    font-size: 20px;
    color: #fff;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 15px;
}
.sec1 .div1 .submit{
    font-size: 25px;
    padding: 5px 45px;
    border-radius: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, .3);
    transition: all .5s;
}
.sec1 .div1 .submit:hover{
    background-color: rgba(0, 0, 0, .5);
}
a{
    text-decoration: none;
    list-style-type: none;
    color: #fff;
}
#result{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
} 
.cont{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    min-width: 600px;
    min-height: 150px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 15px; 
}
